<html [lang='es']>
    <head>
        <title>APLICACIÓN WEB FLORA</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1> <p style="color: rgb(4, 40, 61); "><strong><em>APLICACIÓN WEB SOBRE LA FLORA</em></strong></p> 
            <p style="text-align: center;">
        </h1>
        <img src="https://www.salud.mapfre.es/media/2016/11/planta-medicinal-primavera.jpg" width="1200" height="300">  
        <h2>
            <p style="color: rgb(8, 73, 48); ">DESCRIPCIÓN SOBRE EL CONJUNTO </p>
        </h2>
        <p >Este conjunto de datos sobre la flora ha sido obtenido a lo largo de las costas de Málaga, concretamente de la zona de Tolox y la Sierra de las Nieves.<br>
            Se han usado medios de clasificación por teledetección, edición de fotografías y observaciones sobre el terreno para cartografiar <br>
            de forma eficiente y rentable grandes áreas con un sesgo mínimo.  
        </p>
        </p>
        <p>
            Para buscar datos existentes acceda aquí:
            <a href="Flora.html#ancla">Buscar datos</a>                
        </p>
    </body>
</html>