<html [lang='es']>
    <head>
        <title>APLICACIÓN WEB FLORA</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1> <p style="color: rgb(4, 40, 61); "><strong><em>APLICACIÓN WEB SOBRE LA FLORA</em></strong></p> 
            <p style="text-align: center;">
        </h1>
        <img src="https://www.salud.mapfre.es/media/2016/11/planta-medicinal-primavera.jpg" width="1200" height="300">  
        <h2>
            <p style="color: rgb(8, 73, 48); ">DESCRIPCIÓN SOBRE EL CONJUNTO </p>
        
        </h2>
        <p >Este conjunto de datos ha sido creado por el Servicio Forestal de los Estados Unidos (USFS)<br>
            y publicado por  el Departamento de Pesca y Vida Silvestre de California utilizando procedimientos<br>
            automatizados y sistemáticos, de clasificación por teledetección, edición de fotografías y observaciones<br> 
            sobre el terreno para cartografiar de forma eficiente y rentable grandes áreas con un sesgo mínimo.
        </p>

        Puedes encontrar el dataset en el siguiente enlace: 
        <a href="https://catalog.data.gov/dataset/vegetation-carnegie-svra-ds2946" target=_blank>Ir a Data.gov</a><br>


        <p>
            Para introducir nuevos datos acerca de este conjunto de datos, rellene el siguiente formulario:
            

            <a href="formulario.html#ancla">Añadir nueva entrada</a>
            
                
                 
        </p>

        <p>
            Para buscar datos existentes acceda aquí:
            

            <a href="Flora.html#ancla">Buscar datos</a>
            
                
                 
        </p>

    </body>
</html>