<html>
    <h1>Nueva especie</h1>
    <form method="POST">
        <table>
            <tr>
                <td><b>num_register: </b></td>
                <td><input name="num_register"></td>
            </tr>
            <tr>
                <td><b>date:</b></td>
                <td><input name="date"></td>
            </tr>
            <tr>
                <td><b>author:</b></td>
                <td><input name="author"></td>
            </tr>
            <tr>
                <td><b>location:</b></td>
                <td><input name="location"></td>
            </tr>
            <tr>
                <td><b>UTM:</b></td>
                <td><input name="UTM"></td>
            </tr>
            <tr>
                <td><b>lithology:</b></td>
                <td><input name="lithology"></td>
            </tr>
            <tr>
                <td><b>coverage:</b></td>
                <td><input name="coverage"></td>
            </tr>
            <tr>
                <td><b>altitude:</b></td>
                <td><input name="altitude"></td>
            </tr>
            <tr>
                <td><b>plot_slope:</b></td>
                <td><input name="plot_slope"></td>
            </tr>
            <tr>
                <td><b>altitude_veg:</b></td>
                <td><input name="altitude_veg"></td>
            </tr>
            <tr>
                <td><b>plot_area:</b></td>
                <td><input name="plot_area"></td>
            </tr>
            <tr>
                <td><b>plot_orientation:</b></td>
                <td><input name="plot_orientation"></td>
            </tr>
            <tr>
                <td><b>community:</b></td>
                <td><input name="community"></td>
            </tr>
            <tr>
                <td><b>abies_pinsapo:</b></td>
                <td><input name="abies_pinsapo"></td>
            </tr>
            <tr>
                <td><b>pinus_halepensis:</b></td>
                <td><input name="pinus_halepensis"></td>
            </tr>
            <tr>
                <td><b>juniperus_plumosa:</b></td>
                <td><input name="juniperus_plumosa"></td>
            </tr>
            <tr>
                <td><b>juniperus_oxycedrus:</b></td>
                <td><input name="juniperus_oxycedrus"></td>
            </tr>
            <tr>
                <td><b>ceratonia_siliqua:</b></td>
                <td><input name="ceratonia_siliqua"></td>
            </tr>
            <tr>
                <td><b>chaualiop_limitis:</b></td>
                <td><input name="chaualiop_limitis"></td>
            </tr>
            <tr>
                <td><b>ranunculus_aqualitis:</b></td>
                <td><input name="ranunculus_aqualitis"></td>
            </tr>
            <tr>
                <td><b>acu_frentence:</b></td>
                <td><input name="acu_frentence"></td>
            </tr>
            <tr>
                <td><b>sorbus_aria:</b></td>
                <td><input name="sorbus_aria"></td>
            </tr>
            <tr>
                <td><b>digitalis_obscura:</b></td>
                <td><input name="digitalis_obscura"></td>
            </tr>
            <tr>
                <td><b>athamanta_vayredana:</b></td>
                <td><input name="athamanta_vayredana"></td>
            </tr>
            <tr>
                <td><b>centaurea_clementei:</b></td>
                <td><input name="centaurea_clementei"></td>
            </tr>
            <tr>
                <td><b>campanula_mollis:</b></td>
                <td><input name="campanula_mollis"></td>
            </tr>
            <tr>
                <td><b>silene_andryalifolia:</b></td>
                <td><input name="silene_andryalifolia"></td>
            </tr>
            <tr>
                <td><b>sedum_dasphyllum:</b></td>
                <td><input name="sedum_dasphyllum"></td>
            </tr>
            <tr>
                <td><b>chaenorrhinum_villosum:</b></td>
                <td><input name="chaenorrhinum_villosum"></td>
            </tr>
            <tr>
                <td><b>rhamnus_myrtifolius:</b></td>
                <td><input name="rhamnus_myrtifolius"></td>
            </tr>
            <tr>
                <td><b>teucrium_similatum:</b></td>
                <td><input name="teucrium_similatum"></td>
            </tr>
            <tr>
                <td><b>cephalaria_leucantha:</b></td>
                <td><input name="cephalaria_leucantha"></td>
            </tr>
            <tr>
                <td><b>helictotrichon_filifolium_arundanum:</b></td>
                <td><input name="helictotrichon_filifolium_arundanum"></td>
            </tr>
            <tr>
                <td><b>thrincia_sp:</b></td>
                <td><input name="thrincia_sp"></td>
            </tr>
            <tr>
                <td><b>sanguisorba_minor:</b></td>
                <td><input name="sanguisorba_minor"></td>
            </tr>
            <tr>
                <td><b>scabiosa_turolensis_grosii:</b></td>
                <td><input name="scabiosa_turolensis_grosii"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Enviar">
                    <input type="reset" value="Borrar">
                </td>
            </tr>
        </table>
    </form>
</html>
